<!doctype html>
<html lang="en">
{{> general/header }}
<body>
{{> general/signOut }}

<div class="container-fluid">
    <div class="row">
        {{> general/navbar}}

        {{> table/table}}
    </div>
</div>
{{> general/scripts}}
{{> table/scripts}}
</body>
</html>
