<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">


        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Reports</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <span data-feather="file-text"></span>
                    Charts
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/table">
                    <span data-feather="file-text"></span>
                    Table Report
                </a>
            </li>
        </ul>
    </div>
</nav>